.box {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.box-wrap {
  width: 120px;
  height: 40px;
  border: 1px dashed #d0d0d0;
}

.App {
  width: 100%;
  max-width: 1500px;
  max-height: 800px;
  height: 100%;
}

.box-wrap:hover {
  background-color: #282c34;
}

.box-wrap.active {
  background-color: #282c34;
}
